<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta name="generator" content="Hugo 0.101.0">
		<title>Dashboard Template · Bootstrap v5.2</title>

		<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">

		<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}

			@media(min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}

			.b-example-divider {
				height: 3rem;
				background-color: rgba(0, 0, 0, 0.1);
				border: solid rgba(0, 0, 0, 0.15);
				border-width: 1px 0;
				box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
			}

			.b-example-vr {
				flex-shrink: 0;
				width: 1.5rem;
				height: 100vh;
			}

			.bi {
				vertical-align: -0.125em;
				fill: currentColor;
			}

			.nav-scroller {
				position: relative;
				z-index: 2;
				height: 2.75rem;
				overflow-y: hidden;
			}

			.nav-scroller .nav {
				display: flex;
				flex-wrap: nowrap;
				padding-bottom: 1rem;
				margin-top: -1px;
				overflow-x: auto;
				text-align: center;
				white-space: nowrap;
				-webkit-overflow-scrolling: touch;
			}
		</style>

		<link href="{{ asset('css/style.css') }}" rel="stylesheet"> 
		
		{% block stylesheets %}{% endblock %}
		</head>
		<body>

			{% block header %}
				<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
					<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="{{ path('home') }}">E-Commerce App</a>
					<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<span class="text-white">Hello,
						{% if app.user %}
							{{ app.user.name }}.
						{% else %}
							guest.
						{% endif %}
					</span>
					<div class="navbar-nav">
						<div class="nav-item text-nowrap">
							{% if app.user %}
								<a class="nav-link px-3" href="{{ path('app_logout') }}">Sign out</a>
							{% else %}
								<a class="nav-link px-3" href="{{ path('app_login') }}">Sign in</a>
							{% endif %}
						</div>
					</div>
				</header>
			{% endblock %}

			<div class="container-fluid">
				<div class="row">
					<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
						<div class="position-sticky pt-3 sidebar-sticky">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a class="nav-link {% if app.request.get('_route') == 'home' %} active{% endif %}" aria-current="page" href="{{ path('home') }}">
										<span data-feather="home" class="align-text-bottom"></span>
										Homepage
									</a>
								</li>
							</ul>

							{# Check if user role is ROLE_USER #}
							{% if is_granted('ROLE_USER') %}
								<hr>
								<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
									<span>User Menu</span>
								</h6>
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link" href="#">
											<span data-feather="file" class="align-text-bottom"></span>
											My Orders
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_shopping_cart') }}">
											<span data-feather="shopping-cart" class="align-text-bottom"></span>
											Shopping Cart
										</a>
									</li>
								</ul>
							{% endif %}

							{# Check if user role is ROLE_ADMIN #}
							{% if is_granted('ROLE_ADMIN') %}
								<hr>
								<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
									<span>Admin Menu</span>
								</h6>
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link {% if app.request.get('_route') == 'app_category' %} active{% endif %}" href="{{ path('app_category') }}">
											<span data-feather="file" class="align-text-bottom"></span>
											Category List
										</a>
									</li>
									<li>
										<a class="nav-link {% if app.request.get('_route') == 'app_category_create' %} active{% endif %}" href="{{ path('app_category_create') }}">
											<span data-feather="file" class="align-text-bottom"></span>
											Add New Category
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link {% if app.request.get('_route') == 'app_product' %} active{% endif %}" href="{{ path('app_product') }}">
											<span data-feather="file" class="align-text-bottom"></span>
											Product List
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link {% if app.request.get('_route') == 'app_product_create' %} active{% endif %}" href="{{ path('app_product_create') }}">
											<span data-feather="file" class="align-text-bottom"></span>
											Add New Product
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link {% if app.request.get('_route') == 'app_order' %} active{% endif %}" href="{{ path('app_order') }}">
											<span data-feather="file" class="align-text-bottom"></span>
											Orders
										</a>
									</li>
								</ul>
							{% endif %}
						</div>
					</nav>

					<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-4"> {% block content %}{% endblock %}
						</main>
					</div>
				</div>


				<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

				<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

				<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
				{# <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script> #}
				
				<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
				
				<script src="{{ asset('js/template.js') }}"></script>

				{% block javascript %}{% endblock %}
			</body>
		</html>
